@font-face {
  font-family: 'DIN';
  src: url('./DIN-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'DIN';
  src: url('./DIN-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'DIN';
  src: url('./DIN\ Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Fondamento';
  src: url('./Fondamento-Italic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Fondamento';
  src: url('./Fondamento-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'jiangxizhuokai';
  src: url('./Jiangxi.ttf');
  font-weight: 500;
  font-style: normal;
}
